#numberchart {
  width: 45%;
}

#textBox {
  position: absolute;
  left: 55%;
  right: 10%;
}

.text {
  font-family: Arial;
  font-size: 20px;
}

.cell {
  font-family: Arial;
  position: relative;
  float: left;
  width: 50px;
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.prime {
  background-color: pink;
}

.multipleof2 {
  background-color: red;
}

.multipleof3 {
  background-color: green;
}

.multipleof5 {
  background-color: blue;
}

.multipleof7 {
  background-color: yellow;
}

h1 {
  text-align: center;
  font-size: 30px;
  font-family: Arial;
}

h3 {
  text-align: center;
  font-family: Arial;
}
