body{
  font-family: Arial;
  text-align: center;

}

.text {
  font-size: 20px;
}

.cell {
  font-family: Arial;
  position: relative;
  float: left;
  width: 50px;
  text-align: center;
  margin: 5px 5px 5px 5px;
}

.prime {
  background-color: pink;
}

.notprime {
  background-color: #82CAFA;
}


#numberchart {
  width: 45%;
}

#textbox {
  position: absolute;
  left: 55%;
  right: 10%;
}
